
  
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
     
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 600px;
    
  }
  
  h1 {
    font-size: 2.5rem; 
    color: #333;
    margin-bottom: 20px; 
  }
  
  p {
    font-size: 1.125rem; 
    color: #666; 
    text-align: center; 
    line-height: 1.6; 
    margin-bottom: 40px; 
  }

  .highlight-blue {
    color: blue; 
  }
  
  .highlight-gold {
    color: goldenrod; 
  }