

body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/Pokemonbackground.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white; 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .form-title {
    margin-bottom: 20px;
  }
  
  .registration-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
  }
  
  .form-label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #45a049;
  }
  