body {
    background-image: url('../assets/Pokemonbackground.png');
    background-size: cover; 
    background-position: center;
    background-repeat: repeat;
}

.menu-container {
text-align: center;
padding: 30px;
border: 2px solid #ddd;
border-radius: 10px;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
background: rgba(247, 247, 247, 0.5);
backdrop-filter: blur(10px); 
max-width: 650px;
}

h1 {
font-size: 2.5rem;
color: #333;
margin-bottom: 20px;
}

.menu {
display: flex;
flex-direction: column;
align-items: center;
}

.select {
font-size: 1.2rem;
color: #007bff;
text-decoration: none;
margin: 10px 0;
padding: 10px 20px;
border-radius: 8px;
background-color: #fff;
border: 1px solid #ddd;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transition: background-color 0.3s, color 0.3s;
}

.select:hover {
background-color: #007bff;
color: #fff;
}